{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"  type="text/css">

    

{% endblock %}


{% block content%}
<div class="container">
    <div class="row">
        <div class="column">
            <div class="card"></div>
            <h2>Business</h2>
            <hr>
            {{ macro.displaySourceList(business)}}
        </div>
        <div class="column">
            <div class="card">
            <h2> Technology</h2>
            <hr>
            {{ macro.displaySourceList(technology)}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
            <h2>Entertainment</h2>
            <hr>
            {{ macro.displaySourceList(entertainment)}}
           </div>
        </div>
</div>
{%endblock%}