
{% extends 'base.html'%} {% block content %}
<br>
<br>
<br>
<body>
  <h1 align-text="center" class="text-capitalize"> {{id}} </h3>
  <div class="container">
    <div class="card-columns">
      {% for source in sources %}

      <div class="card">
        <img class="card" src="{{source.image}}" alt="Card image cap" size="100px180">
        <div class="card-body">
          <h5 class="card-title">{{source.author}}</h5>
          <p class="card-text">{{source.description}}</p>
          <a href="{{source.url}}">
            <p class="card-text">Click here for more details!</p>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted">source date:{{source.time}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</body>